@import '../../style.css';

.select-lottery{
  display: flex;
  flex-flow: row wrap;
}

.tpl-title{
  width: 75px;
}

.tpl-list{
  width: 290px;
}
.tpl-list-time{
  width: 600px;
}

.tpl-input{
  width: 200px;
}