<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <button nz-button class="top-button" nzType="primary" (click)="addTop()" nzSize="small">添加直属</button>
    <section class="main-content">
      <section class="select-lottery serach-tpl">
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">用户ID:</span>
          <input nz-input placeholder="用户ID" [(ngModel)]="searchData['id']" class="tpl-input"
            nzSize="small" />&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">用户名:</span>
          <input nz-input placeholder="用户名" [(ngModel)]="searchData['username']" class="tpl-input"
            nzSize="small" />&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">上级ID:</span>
          <input nz-input placeholder="上级ID" [(ngModel)]="searchData['parent_id']" class="tpl-input"
            nzSize="small" />&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">总代ID:</span>
          <input nz-input placeholder="总代ID" [(ngModel)]="searchData['top_id']" class="tpl-input"
            nzSize="small" />&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">代理类型:</span>
          <nz-select [(ngModel)]="searchData['type']" nzAllowClear nzPlaceHolder="代理类型" class="tpl-input"
            nzSize="small">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option *ngFor="let item of userTypeOptions | keyvalue" nzValue="{{item.key}}" nzLabel="{{item.value}}">
            </nz-option>
          </nz-select>&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">冻结类型:</span>
          <nz-select [(ngModel)]="searchData['frozen_type']" nzAllowClear nzPlaceHolder="冻结类型" class="tpl-input"
            nzSize="small">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option *ngFor="let item of frozenTypeOptions | keyvalue" nzValue="{{item.key}}"
              nzLabel="{{item.value}}"></nz-option>
          </nz-select>&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">测试玩家:</span>
          <nz-select [(ngModel)]="searchData['is_tester']" nzAllowClear nzPlaceHolder="是否测试玩家" class="tpl-input"
            nzSize="small">
            <nz-option nzValue="" nzLabel="全部"></nz-option>
            <nz-option nzValue="1" nzLabel="是"></nz-option>
            <nz-option nzValue="0" nzLabel="否"></nz-option>
          </nz-select>&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title tpl-title-search">余额区间:</span>
          <nz-input-group nzCompact class="tpl-input" nzSize="small">
            <input type="text" nz-input [(ngModel)]="searchData['min']" style="width:92px;" placeHolder="余额最小"
              nzSize="small" />-
            <input type="text" nz-input [(ngModel)]="searchData['max']" style="width:92px;" placeHolder="余额最大"
              nzSize="small" />
          </nz-input-group>&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa tpl-list-time">
          <span class="tpl-title tpl-title-search" style="width:70px;">注册时间:</span>
          <nz-range-picker [(ngModel)]="dateRange" nzSize="small" (ngModelChange)="onChange($event)"
            (click)="timeHandle()" nzShowTime>
          </nz-range-picker>
        </section>
        <section class="tpl-list flexa">
          <button nz-button nzType="primary" class="select-search" (click)="serach()" nzSize="small"><i nz-icon
              type="search"></i>搜索</button>&nbsp;&nbsp;
          <button nz-button nzType="primary" class="select-reset" (click)="resetSearch()" nzSize="small"><i nz-icon
              type="sync"></i>重置</button>
        </section>
      </section>
      <section class="select-lottery" *ngIf="parentSet && parentSet.length > 0">
        <a href="javascript:;" class="a-link" (click)="findChild(0)">根目录</a>
        <ng-container *ngFor="let item of parentSet">
          >> <a href="javascript:;" class="a-link" (click)="findChild(item, true)">{{item.username}}</a>
        </ng-container>
      </section>
      <nz-table nzShowQuickJumper [nzPageSize]="searchData.page_size" [nzShowPagination]="false" #tableData
        [nzData]="tableList">
        <thead class="ant-table-thead">
          <tr>
            <th nzShowExpand>操作</th>
            <th>用户ID</th>
            <th>上级ID</th>
            <th>用户名</th>
            <th>VIP等级</th>
            <th>账户余额</th>
            <th>冻结金额</th>
            <th>身份</th>
            <th>奖金组</th>
            <th>代理分红</th>
            <th>代理日工资</th>
            <th>直属下级数量</th>
            <th>下级数量</th>
            <th>冻结类型</th>
            <th>测试</th>
            <th>最后登录时间</th>
            <th>创建时间</th>
            <th>备注</th>
            <th>状态</th>
            <th>详情</th>
          </tr>
        </thead>
        <tbody class="ant-table-tbody">
          <ng-template ngFor let-data let-i="index" [ngForOf]="tableData.data">
            <tr>
              <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.username]"></td>
              <td>{{data.id}}</td>
              <td>{{data.parent_id}}</td>
              <td>
                <a href="javascript:;" class="a-link" (click)="findChild(data)">{{data.username}}</a>
              </td>
              <td>{{data.vip_level}}</td>
              <td>{{data.balance}}</td>
              <td>{{data.frozen_balance}}</td>
              <td>{{data.type_desc}}</td>
              <td>{{data.prize_group}}</td>
              <td>{{data.bonus_percentage}}</td>
              <td>{{data.salary_percentage}}</td>
              <td>{{data.direct_child_count}}</td>
              <td>{{data.child_count}}</td>
              <td>{{data.frozen_type}}</td>
              <td>
                <span style="color: green;" *ngIf="data.is_tester == 1">是</span>
                <span style="color: green;" *ngIf="data.is_tester == 0">否</span>
              </td>
              <td>{{data.last_login_time}}</td>
              <td>{{data.register_time}}</td>
              <td>
                <p class="text-content">
                  {{data.mark}}
                </p>
              </td>
              <td>
                <span *ngIf="data.status == 1" style="color: green;">启用</span>
                <span *ngIf="data.status != 1" style="color: red;">禁用</span>
              </td>
              <td>
                <button nz-button nzType="primary" nzSize="small" (click)="doDetail(data)"
                  style="margin:10px;">详情</button>
              </td>
            </tr>
            <tr [nzExpand]="mapOfExpandData[data.username]">
              <td colspan="17" class="expand">
                <button nz-button nzType="primary" nzSize="small" (click)="doPassword(data)">密码</button>
                <button nz-button nzType="primary" nzSize="small" (click)="doTransfer(data.id)">资金</button>
                <button nz-button nzType="primary" nzSize="small" (click)="doPlayerMark(data)">提现备注</button>
                <button *ngIf="data.frozen_type === '未冻结'" nz-button nzType="primary" nzSize="small"
                  (click)="doFrozen(data.id)">冻结</button>
                <button *ngIf="data.frozen_type !== '未冻结'" nz-button nzType="primary" nzSize="small"
                  (click)="doUnFrozen(data)"
                  [disabled]="data.unfrozen !== 0">{{data.unfrozen !== 0 ? '已申请解冻' : '解除冻结'}}</button>
                <button nz-button nzType="primary" nzSize="small" (click)="setPlayerVipLevel(data)">vip等级</button>
                <button *ngIf="data.type_desc !== '玩家'" nz-button nzType="primary" nzSize="small"
                  (click)="doBonusSet(data)">代理分红</button>
                <button *ngIf="data.type_desc !== '玩家'" nz-button nzType="primary" nzSize="small"
                  (click)="doSalarySet(data)">代理日工资</button>
                <nz-switch *ngIf="data.type_desc !== '玩家'" [ngModel]="data.allowed_transfer"
                  (ngModelChange)="allowedTransfer(data.id)" nzCheckedChildren="上下级转账" nzUnCheckedChildren="上下级转账">
                </nz-switch> &nbsp;
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="1" [nzPageSize]='searchData.page_size' [nzTotal]="page.total"
        [(nzPageIndex)]="searchData.page_index" (nzPageIndexChange)="doPageChange()" nzShowQuickJumper
        class="nz-pagination">
      </nz-pagination>
    </section>
  </section>

  <!-- 添加直属 --->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="addTopData.show" nzTitle="添加直属" (nzOnClose)="back()">
    <section class="tpl-lists">
      <section class="tpl-list flexa">
        <span class="tpl-title">用户名:</span> <input required nz-input [(ngModel)]="addTopData.data.username"
          placeholder="请输入登录帐号" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">登录密码:</span> <input nz-input type="password" [(ngModel)]="addTopData.data.password"
          placeholder="请输入登录密码" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">资金密码:</span> <input nz-input type="password" [(ngModel)]="addTopData.data.fund_password"
          placeholder="请输入资金密码" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">奖金组:</span> <input nz-input type="text" [(ngModel)]="addTopData.data.prize_group"
          placeholder="请输入奖金组" class="tpl-input" />
        </section>
        <section class="tpl-list flexa" style="width: 130px;">
          <span class="tpl-title">是否测试:</span>
          <nz-switch [(ngModel)]="addTopData.data.is_test" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">手机号:</span> <input required nz-input [(ngModel)]="addTopData.data.phone"
            placeholder="请输入手机号" class="tpl-input"/>
          <nz-alert *ngIf="phoneVerify" class="verify" nzBanner  nzType="error" nzMessage="手机号码格式不正确" nzShowIcon></nz-alert>
        </section>
        <button nz-button nzType="primary" (click)="submitAddTop()" [nzLoading]="api.loadingSwitch" class="submit">
        提交
      </button>
    </section>
  </nz-drawer>

  <!-- 理赔扣减 --->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="fund.show" nzTitle="理赔扣减" (nzOnClose)="back()">
    <section class="tpl-lists">
      <section class="tpl-list flexa">
        <span class="tpl-title">当前用户:</span>
        {{fund.username}}
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">当前余额:</span>
        {{fund.balance}}
      </section>
      <nz-tabset>
        <nz-tab nzTitle="理赔">
          <section class="tpl-list flexa">
            <span class="tpl-title">理赔类型:</span>
            <nz-select class="tpl-input" [(ngModel)]="fund.add_data.type" nzPlaceHolder="请选择" nzAllowClear>
              <nz-option *ngFor="let option of fund.transfer_add_options | keyvalue" [nzValue]="option.key"
                [nzLabel]="option.value.name">
              </nz-option>
            </nz-select>
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">金额:</span> <input required nz-input [(ngModel)]="fund.add_data.amount"
              placeholder="请输入金额" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">资金密码:</span> <input nz-input type="password" [(ngModel)]="fund.add_data.password"
              placeholder="请输入资金密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">备注:</span> <input nz-input type="text" [(ngModel)]="fund.add_data.reason"
              placeholder="请输入原因" class="tpl-input" />
          </section>
          <button nz-button nzType="primary" (click)="submitTransfer('add')" [nzLoading]="api.loadingSwitch"
            class="submit">
            提交
          </button>
        </nz-tab>
        <nz-tab nzTitle="扣减">
          <section class="tpl-list flexa">
            <span class="tpl-title">扣减类型:</span>
            <nz-select class="tpl-input" [(ngModel)]="fund.reduce_data.type" nzPlaceHolder="请选择" nzAllowClear>
              <nz-option *ngFor="let option of fund.transfer_reduce_options | keyvalue" [nzValue]="option.key"
                [nzLabel]="option.value.name">
              </nz-option>
            </nz-select>
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">金额:</span> <input required nz-input [(ngModel)]="fund.reduce_data.amount"
              placeholder="请输入金额" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">资金密码:</span> <input nz-input type="password" [(ngModel)]="fund.reduce_data.password"
              placeholder="请输入资金密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">备注:</span> <input nz-input type="text" [(ngModel)]="fund.reduce_data.reason"
              placeholder="请输入原因" class="tpl-input" />
          </section>
          <button nz-button nzType="primary" (click)="submitTransfer('reduce')" [nzLoading]="api.loadingSwitch"
            class="submit">
            提交
          </button>
        </nz-tab>
      </nz-tabset>
    </section>
  </nz-drawer>

  <!-- 冻结 --->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="frozen.show" nzTitle="玩家冻结" (nzOnClose)="back()">
    <section class="tpl-lists">
      <section class="tpl-list flexa">
        <span class="tpl-title">冻结原因:</span> <input nz-input type="text" style="width: 300px;" [(ngModel)]="frozen.desc"
          placeholder="请输入原因" class="tpl-input" />
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">冻结类型:</span>
        <nz-select style="width: 300px;" [(ngModel)]="frozen.frozen" nzPlaceHolder="选择冻结类型" nzAllowClear>
          <nz-option nzValue="0" nzLabel="未冻结"></nz-option>
          <nz-option nzValue="1" nzLabel="禁止登录"></nz-option>
          <nz-option nzValue="2" nzLabel="禁止投注"></nz-option>
          <nz-option nzValue="3" nzLabel="禁止提现"></nz-option>
          <nz-option nzValue="4" nzLabel="禁止转账"></nz-option>
          <nz-option nzValue="5" nzLabel="禁止资金"></nz-option>
        </nz-select>
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">包含下级:</span>
        <label nz-checkbox style="width: 300px;" [(ngModel)]="frozen.type"></label>
      </section>
      <button nz-button nzType="primary" (click)="submitFrozen()" [nzLoading]="api.loadingSwitch" class="submit">
        提交
      </button>
    </section>
  </nz-drawer>


  <!-- 解冻 --->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="unFrozen.show" nzTitle="玩家冻结" (nzOnClose)="back()">
    <section class="tpl-lists">
      <p>冻结类型: {{unFrozen.frozenType}}</p>
      <section class="tpl-list flexa">
        <span class="tpl-title">解冻原因:</span> <input nz-input type="text" style="width: 300px;"
          [(ngModel)]="unFrozen.desc" placeholder="请输入原因" class="tpl-input" />
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">包含下级:</span>
        <label nz-checkbox style="width: 300px;" [(ngModel)]="unFrozen.type"></label>
      </section>
      <button nz-button nzType="primary" (click)="submitUnFrozen()" [nzLoading]="api.loadingSwitch" class="submit">
        提交
      </button>
    </section>
  </nz-drawer>

  <!-- 密码 --->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="password.show" nzTitle="修改密码" (nzOnClose)="back()">
    <section class="tpl-lists">
      <section class="tpl-list flexa">
        <span class="tpl-title">用户ID:</span>
        {{password.id}}
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">用户帐号:</span>
        {{password.username}}
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">用户昵称:</span>
        {{password.nickname}}
      </section>
      <nz-tabset>
        <nz-tab nzTitle="登录密码">
          <section class="tpl-list flexa">
            <span class="tpl-title" style="width: 200px;">验证资金密码:</span> <input type="password" nz-input
              [(ngModel)]="password.login_data.admin_fund_password" placeholder="请输入操作者资金密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">新密码:</span> <input type="password" nz-input
              [(ngModel)]="password.login_data.password" placeholder="请输入新密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">确认密码:</span> <input type="password" nz-input
              [(ngModel)]="password.login_data.confirm_password" placeholder="请确认新密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">备注:</span> <input nz-input type="text" [(ngModel)]="password.login_data.desc"
              placeholder="请输入原因" class="tpl-input" />
          </section>
          <button nz-button nzType="primary" (click)="submitPassword('login')" [nzLoading]="api.loadingSwitch"
            class="submit">
            修改登录密码
          </button>
        </nz-tab>
        <nz-tab nzTitle="资金密码">
          <section class="tpl-list flexa">
            <span class="tpl-title" style="width: 200px;">验证资金密码:</span> <input type="password" nz-input
              [(ngModel)]="password.fund_data.admin_fund_password" placeholder="请输入操作者资金密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">新密码:</span> <input type="password" nz-input
              [(ngModel)]="password.fund_data.password" placeholder="请输入新密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">确认密码:</span> <input type="password" nz-input
              [(ngModel)]="password.fund_data.confirm_password" placeholder="请确认新密码" class="tpl-input" />
          </section>
          <section class="tpl-list flexa">
            <span class="tpl-title">备注:</span> <input nz-input type="text" [(ngModel)]="password.fund_data.desc"
              placeholder="请输入原因" class="tpl-input" />
          </section>
          <button nz-button nzType="primary" (click)="submitPassword('fund')" [nzLoading]="api.loadingSwitch"
            class="submit">
            修改资金密码
          </button>
        </nz-tab>
      </nz-tabset>
    </section>
  </nz-drawer>

  <!-- 详情 --->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="detail.show" nzTitle="用户详情" (nzOnClose)="back()">
    <ul class="fasts">
      <li class='fast'><span class="a-link" style="font-size: larger"> {{detail.player.username}} </span>于<span
          class="a-link"> {{detail.player.register_time}} </span> 通过 <span class="a-link">
          {{detail.player.register_device}} </span> 加入会员, 注册IP<span
          class="a-link">{{detail.player.register_ip}}({{detail.player.register_city}})</span></li>
      <li class='fast'>所属代理商:
        <span *ngFor="let item of detail.parentSet" class="a-link">{{item.name}}</span> &nbsp;&nbsp;&nbsp;
      </li>
      <li class='fast'>账户余额: <span class="a-link">{{detail.account.balance}}</span>, 冻结余额: <span
          class="a-link">{{detail.account.frozen_balance}}</span>
        <!-- <a>人工存入</a><a>人工取出</a><a>查看账户</a> -->
      </li>
      <li class='fast'>目前状态: <span class="a-link">{{detail.player.frozen_type}}</span></li>
      <li class='fast'>VIP等级: <span class="a-link">{{detail.player.vip_level}}</span></li>
      <li class='fast'>存款次数: <span class="a-link">{{detail.player.totalRechargeCount}}</span> 次, 共 <span
          class="a-link">{{detail.player.totalRechargeAmount}}</span> 元,
        提款次数: <span class="a-link">{{detail.player.totalWithdrawCount}}</span> 次,共 <span
          class="a-link">{{detail.player.totalWithdrawAmount}}</span> 元:</li>
      <li class='fast'>手机号: <span class="a-link">{{detail.player['phone']}}</span></li>
      <li class='fast'>最后一次登入IP为: <span class="a-link">{{detail.player.last_login_ip}}</span>, 于 <span
          class="a-link">{{detail.player.last_login_time}}</span></li>
      <li class='fast' *ngIf="detail.cards">银行卡：
        <p *ngFor="let item of detail.cards; let i = index">
          <span style="color: red; padding-left: 9px;">({{i+1}}:)</span> 持卡人:<span
            class="a-link">{{item.owner_name}}</span>,卡号:<span class="a-link">{{item.card_number}}</span>, 银行:<span
            class="a-link">{{item.bank_name}}</span>, 时间:<span class="a-link">{{item.created_time}}</span>
        </p>
      </li>
      <li class='fast'>
        充值订单(近10单):
        <p *ngFor="let item of detail.last10RechargeOrder; let i = index">
          <span style="color: red;padding-left: 9px;">({{i+1}}:)</span> 金额:<span
            class="a-link">{{item.amount}}</span>,实际到帐:<span class="a-link">{{item.real_amount}}</span>, 时间:<span
            class="a-link">{{item.add_time}}</span>, 状态:<span class="a-link">{{item.status}}</span>
        </p>
      </li>
      <li class='fast'>
        提现订单(近10单):
        <p *ngFor="let item of detail.last10WithdrawOrder; let i = index">
          <span style="color: red;padding-left: 9px;">({{i+1}}):</span> 金额:<span
            class="a-link">{{item.amount}}</span>,实际到帐:<span class="a-link">{{item.real_amount}}</span>, 时间:<span
            class="a-link">{{item.request_time}}</span>, 状态:<span class="a-link">{{item.status}}</span>
        </p>
      </li>
      <li class='fast'>
        代理日工资: <span style="color: red;padding-left: 9px;">{{detail.player.salary_percentage}}%</span>
      </li>
      <li class='fast'>
        代理分红: <span style="color: red;padding-left: 9px;">{{detail.player.bonus_percentage}}%</span>
      </li>
    </ul>
  </nz-drawer>

  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="withdrawMark.show" nzTitle="提现备注"
    (nzOnClose)="withdrawMark.show = false">
    <section class="tpl-lists">
      <section class="tpl-list flexa">
        <span class="tpl-title">备注:</span> <input nz-input [(ngModel)]="withdrawMark.mark" placeholder="请输入提现备注"
          class="tpl-input" style="width: 300px;" />
      </section>
    </section>
    <button nz-button nzType="primary" (click)="playerMark()" [nzLoading]="api.loadingSwitch" class="submit">
      提交
    </button>
  </nz-drawer>
</nz-content>

<nz-modal [(nzVisible)]="playerVipLevel.show" nzTitle="会员等级" (nzOnCancel)="playerVipLevel.show = false"
  (nzOnOk)="setPlayerVipLevel(false)">
  <section class="tpl-list flexa">
    <span class="tpl-title" style="width: 120px;">等级:</span>
    <input nz-input [(ngModel)]="playerVipLevel.data.vip_level" placeholder="请输入" class="tpl-input" />
  </section>
</nz-modal>

<nz-modal [(nzVisible)]="salarySetPop.show" nzTitle="代理日工资" nzWidth="620" (nzOnCancel)="salarySetPop.show = false"
  (nzOnOk)="submitSalary()">
  <nz-descriptions nzTitle="上级信息" *ngIf=" salarySetPop.parent">
    <nz-descriptions-item nzTitle="上级用户名"><span style="color: blue;">{{salarySetPop.parent.username}}</span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="上级日工资比列"><span style="color: blue;">{{salarySetPop.parent.salary_percentage}}%</span>
    </nz-descriptions-item>
  </nz-descriptions>
  <br />
  <section *ngIf="salarySetPop.parent && !salarySetPop.parent['salary_percentage']">
    <span>对不起,您的上级没有设置分红, 请先设置上级</span>
  </section>

  <section *ngIf="(salarySetPop.parent && salarySetPop.parent['salary_percentage']) || salarySetPop.type == 1">
    <span class="tpl-title" style="width: 120px;">工资百分比:</span>
    <nz-input-number [(ngModel)]="salarySetPop.data.salary_percentage" [nzMin]="salarySetPop.min"
      [nzMax]="salarySetPop.max" [nzStep]=".1" [nzFormatter]="salaryFormatterPercent" [nzParser]="salaryParserPercent"
      class="tpl-input"></nz-input-number>
    &nbsp;&nbsp;最小：{{salarySetPop.min}}% - 最大：{{salarySetPop.max}}%
  </section>
</nz-modal>

<nz-modal [(nzVisible)]="bonusSetPop.show" nzTitle="代理分红" nzWidth="620" (nzOnCancel)="bonusSetPop.show = false"
  (nzOnOk)="submitBonus()">
  <nz-descriptions nzTitle="上级信息" *ngIf=" bonusSetPop['parent']">
    <nz-descriptions-item nzTitle="上级用户名"><span style="color: blue;">{{bonusSetPop.parent['username']}}</span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="上级分红比列"><span style="color: blue;">{{bonusSetPop.parent['bonus_percentage']}}%</span>
    </nz-descriptions-item>
  </nz-descriptions>
  <br />
  <section *ngIf="bonusSetPop.parent && !bonusSetPop.parent['bonus_percentage']">
    <span>对不起,您的上级没有设置分红, 请先设置上级</span>
  </section>
  <section *ngIf="(bonusSetPop.parent && bonusSetPop.parent['bonus_percentage']) || bonusSetPop.type == 1">
    <span class="tpl-title" style="width: 120px;">分红百分比:</span>
    <nz-input-number [(ngModel)]="bonusSetPop.data['bonus_percentage']" [nzMin]="bonusSetPop.min"
      [nzMax]="bonusSetPop.max" [nzStep]="1" [nzFormatter]="formatterPercent" [nzParser]="parserPercent"
      class="tpl-input"></nz-input-number>
    &nbsp;&nbsp;最小：{{bonusSetPop.min}}% - 最大：{{bonusSetPop.max}}%
  </section>
</nz-modal>

<nz-modal [(nzVisible)]="transferFromPop.show" nzTitle="上级转账" nzWidth="340" (nzOnCancel)="transferFromPop.show = false"
  (nzOnOk)="submitTransferFrom()">
  <section class="tpl-list flexa">
    <span class="tpl-title" style="width: 120px;">转账金额:</span>
    <input nz-input [(ngModel)]="transferFromPop.data.amount" placeholder="请输入" class="tpl-input"
      style="width: 300px;" />
  </section>
</nz-modal>