<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <section class="main-content">
      <nz-layout>
        <nz-layout>
          <section class="select-lottery serach-tpl">
            <section class="tpl-list flexa">
              <span class="tpl-title">游戏:</span>
              <nz-cascader nzSize="small" [nzOptions]="lotteryOption" [(ngModel)]="defaultSelect"
                (ngModelChange)="doSelectLottery($event)" class="tpl-input"></nz-cascader>&nbsp;&nbsp;
            </section>
            <section class="tpl-list flexa">
              <span class="tpl-title">用户名:</span>
              <input nz-input nzSize="small" placeholder="用户名" [(ngModel)]="searchData['username']" class="tpl-input" />
            </section>
            <section class="tpl-list flexa">
              <span class="tpl-title">账变ID:</span>
              <input nz-input nzSize="small" placeholder="账变ID" [(ngModel)]="searchData['account_change_id']" class="tpl-input" />
            </section>
            <section class="tpl-list flexa">
              <span class="tpl-title">注单编号:</span>
              <input nz-input nzSize="small" placeholder="注单编号" [(ngModel)]="searchData['project_id']" class="tpl-input" />
            </section>
            <section class="tpl-list flexa">
              <span class="tpl-title">每页条数:</span>
              <nz-select style="width: 200px;" nzSize="small" [(ngModel)]="searchData['page_size']" nzAllowClear
                nzPlaceHolder="每页条数" class="tpl-input">
                <nz-option [nzValue]="'10'" nzLabel="10条"></nz-option>
                <nz-option [nzValue]="'20'" nzLabel="20条"></nz-option>
                <nz-option [nzValue]="'30'" nzLabel="30条"></nz-option>
              </nz-select>
            </section>
            <section class="tpl-list flexa tpl-list-time" style="width: 500px;">
              <span class="tpl-title">时间:</span>
              <nz-range-picker nzSize="small" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"
                 (click)="timeHandle()" nzShowTime></nz-range-picker>&nbsp;&nbsp;
            </section>
            <section class="tpl-list flexa">
              <button nz-button nzSize="small" nzType="primary" class="select-search" (click)="search()"><i nz-icon
                  type="search"></i>搜索</button>&nbsp;&nbsp;
              <button nz-button nzSize="small" nzType="primary" class="select-reset" (click)="resetSearch()"><i nz-icon
                  type="sync"></i>重置</button>
            </section>
          </section>
        </nz-layout>
      </nz-layout>
      <nz-table nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
        <thead class="ant-table-thead">
          <tr>
            <th>账变ID</th>
            <th>注单编号</th>
            <th>用户名</th>
            <th>金额</th>
            <th>游戏</th>
            <th>玩法</th>
            <th>投注奖金组</th>
            <th>子奖金组</th>
            <th>自身奖金组</th>
            <th>问题</th>
            <th>处理时间</th>
          </tr>
        </thead>
        <tbody class="ant-table-tbody">
          <tr *ngFor="let item of tableList">
            <td>{{item.account_change_id}}</td>
            <td>{{item.project_id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.lottery_name}}</td>
            <td>{{item.method_name}}</td>
            <td>{{item.bet_prize_group}}</td>
            <td>{{item.child_prize_group}}</td>
            <td>{{item.self_prize_group}}</td>
            <td>{{item.issue}}</td>
            <td>{{item.process_time}}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="page.index" [nzPageSize]="searchData['page_size']" [nzTotal]="page.total"
        [(nzPageIndex)]="page.index" (nzPageIndexChange)="doPageChange()" nzShowQuickJumper class="nz-pagination">
      </nz-pagination>
    </section>
  </section>
</nz-content>