<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <section class="select-lottery serach-tpl">
      <section class="tpl-list flexa">
        <span class="tpl-title">用户名:</span>
        <input nz-input nzSize="small" placeholder="用户名" [(ngModel)]="searchData.username" class="tpl-input" />&nbsp;&nbsp;
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">上级用户:</span>
        <input nz-input nzSize="small" placeholder="上级用户ID" [(ngModel)]="searchData.parent_id" class="tpl-input" />&nbsp;&nbsp;
      </section>
      <section class="tpl-list flexa tpl-list-time">
          <span class="tpl-title">时间:</span>
          <nz-range-picker nzSize="small" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" (click)="timeHandle()" nzShowTime></nz-range-picker>&nbsp;&nbsp;
        </section>
      <section class="tpl-list flexa">
        <button nz-button nzType="primary" nzSize="small" class="select-search" (click)="doSearch()"><i nz-icon type="search"></i>搜索</button>&nbsp;&nbsp;
        <button nz-button nzType="primary" nzSize="small" class="select-reset" (click)="resetSearch()"><i nz-icon type="sync"></i>重置</button>
      </section>
    </section>
    <section class="main-content">
      <nz-table nzShowQuickJumper [nzShowPagination]="false" #tableData [nzData]="tableList">
        <thead class="ant-table-thead">
        <button nz-button nzType="primary" nzSize="small" (click)="sendAll()">批量发送</button>
        <tr>
          <th>批量<label nz-checkbox [(ngModel)]="checkedAll" [nzIndeterminate]="indeterminate" (ngModelChange)="sendCheckedAll($event)"></label></th>
          <th>ID</th>
          <th>用户名</th>
          <th>月份</th>
          <th>总投注</th>
          <th>总奖金</th>
          <th>总撤单</th>
          <th>总和值返款</th>
          <th>总投注返点</th>
          <th>总下级返点</th>
          <th>总礼金</th>
          <th>总工资</th>
          <th>总分红</th>
          <th>亏损</th>
          <th>比例</th>
          <th>应分红</th>
          <th>实际分红</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody class="ant-table-tbody">
        <ng-template ngFor let-data let-i="index" [ngForOf]="tableList">
          <tr>
            <td>
              <label nz-checkbox [(ngModel)]="checked[i]" (ngModelChange)="sendChecked($event, data.id)"></label>
            </td>
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{{data.month}}-{{data.sort}}</td>
            <td><span style="color:green;">{{data.total_bets }}</span></td>
            <td><span style="color:red;">{{data.total_bonus}}</span></td>
            <td><span style="color:green;">{{data.total_cancel}}</span></td>
            <td><span style="color:green;">{{data.total_he_return}}</span></td>
            <td><span style="color:green;">{{data.total_commission_from_bet}}</span></td>
            <td><span style="color:green;">{{data.total_commission_from_child}}</span></td>
            <td><span style="color:green;">{{data.total_gift}}</span></td>
            <td><span style="color:green;">{{data.total_salary}}</span></td>
            <td><span style="color:green;">{{data.total_dividend}}</span></td>

            <td>{{data.profit}}</td>
            <td>{{data.rate}}%</td>

            <td>{{data.amount}}</td>
            <td>{{data.real_amount}}</td>
            <td>
              <span *ngIf="data.status == '0'">初始化</span>
              <span *ngIf="data.status == '1'" style="color: green;">已发放</span>
              <span *ngIf="data.status == '2'" style="color: blue;">未亏损</span>
            </td>
            <td>
              <a *ngIf="data.status == '0'" (click)="doSend(data)">发放</a>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="1" [nzPageSize]='searchData.page_size' [nzTotal]="page.total" [(nzPageIndex)]="page.index" (nzPageIndexChange)="doPageChange()" nzShowQuickJumper
                     class="nz-pagination">
      </nz-pagination>
    </section>
  </section>

</nz-content>
<nz-modal
  nzTitle = "发放分红"
  nzWidth="660"
  [nzOkText]="null"
  [nzCancelText]="null"
  [nzOkDisabled]="true"
  [nzCancelDisabled]="true"
  [nzVisible] = "sendData.show"
  (nzOnCancel) = "sendData.show = false">
  <section class="tpl-lists">
    <section class="tpl-list flexa" *ngIf="sendData.type === 'single'">
      <span class="tpl-title" style="width: 120px;">用户名:</span>
      <span>{{sendData.item.username}}</span>
    </section>
    <section class="tpl-list flexa" *ngIf="sendData.type === 'single'">
      <span class="tpl-title" style="width: 120px;">总亏损:</span>
      <span>{{sendData.item.profit}}</span>
    </section>
    <section class="tpl-list flexa" *ngIf="sendData.type === 'single'">
      <span class="tpl-title" style="width: 120px;">应发分红:</span>
      <span *ngIf="sendData.item.profit < 0"><span style="color: green;">{{sendData.item.profit}}</span> x <span style="color: green;">{{sendData.item.rate}}%</span> = <span style="color: green;">{{sendData.item.amount}}</span></span>
      <span *ngIf="sendData.item.profit >= 0" style="color: red;">用户盈利状态, 没有分红</span>
    </section>
    <section class="tpl-list flexa">
      <span class="tpl-title" style="width: 120px;">发放金额:</span>
      <nz-input-number [(ngModel)]="sendData.data.amount" [nzMin]="1" [nzStep]="1" style="width: 200px;"></nz-input-number>
    </section>
    <section class="tpl-list flexa">
      <span class="tpl-title" style="width: 120px;">资金密码:</span>
      <nz-input-group   style="width: 200px;" [nzSuffix]="suffixTemplate" >
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="资金密码"
          [(ngModel)]="sendData.data.fund_password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </section>
    <button nz-button nzType="primary" (click)="doSubmitSend()"  [nzLoading]="sendData.loading" class="submit" [disabled]="+sendData.item.profit > 0">
      提交
    </button>
  </section>
</nz-modal>
