<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <button nz-button class="top-button" nzType="primary" nzSize="small" (click)="addAdmin(0)">添加管理员</button>
    <section class="main-content">
      <nz-table nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
        <thead class="ant-table-thead">
          <tr>
            <th nzWidth="5%">ID</th>
            <th nzWidth="10%">用户名</th>
            <th>用户头像</th>
            <th nzWidth="15%">邮箱</th>
            <th nzWidth="5%">用户组</th>
            <th nzWidth="10%">注册IP</th>
            <th nzWidth="10%">注册时间</th>
            <th nzWidth="10%">上次登录时间</th>
            <th nzWidth="10%">上次登录IP</th>
            <th nzWidth="5%">创建人</th>
            <th nzWidth="5%">状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="ant-table-tbody">
          <ng-template ngFor let-item [ngForOf]="tableList" let-i="index">
            <tr *ngIf="groupId === '' || groupId === item.group_id">
              <td>{{item.id}}</td>
              <td>{{item.username}}</td>
              <td>
                <ng-container *ngIf="!item.avatar; else elseImg">
                  <nz-upload [nzAction]="api.domain + '/partner-api/system/adminAvatarImgUpload/' + item.id"
                    (nzChange)='upImage($event, i, item.id)'>
                    <button nz-button nzSize="small"><i nz-icon nzType="upload"></i><span>上传头像</span></button>
                  </nz-upload>
                </ng-container>
                <ng-template #elseImg>
                  <img [src]="api.imgUrl + item.avatar + '?' + api.random"
                    style="width: 55px; height: 55px; padding: 3px;margin-right: 10px;" />
                  <i nz-icon nzType="close" nzTheme="outline" class="imgClose" (click)="delete(item, i)" style="position: absolute;"></i>
                </ng-template>
              </td>
              <td>{{item.email}}</td>
              <td>{{item.group_name}}</td>
              <td>{{item.register_ip}}</td>
              <td>{{item.created_at}}</td>
              <td>{{item.last_login_time}}</td>
              <td>{{item.last_login_ip}}</td>
              <td>{{item.add_admin_id}}</td>
              <td>
                <nz-switch [(ngModel)]="item.status" (ngModelChange)="changeStatus(item, i)" nzCheckedChildren="开"
                  nzUnCheckedChildren="关" class="switch" *ngIf="!(item.group_id === 1 || groupId === item.group_id)">
                </nz-switch>
              </td>
              <td>
                <button nzSize="small" nz-button nzType="primary" (click)="changePassword(item.id)"
                  *ngIf="groupId === '' || groupId === item.group_id">修改密码</button>&nbsp;
                <button nzSize="small" nz-button nzType="primary" (click)="deleteUser(item.id)"
                  *ngIf="groupId === '' || groupId === item.group_id">删除</button>&nbsp;
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="1" [nzPageSize]='api.pageSize' [nzTotal]="page.total" [(nzPageIndex)]="page.index"
        (nzPageIndexChange)="pageChange()" nzShowQuickJumper class="nz-pagination"></nz-pagination>
    </section>
  </section>

  <nz-drawer [nzClosable]="passwordShow" [nzVisible]="passwordShow" [nzMaskClosable]='false' nzWidth='auto'
    nzPlacement="right" nzTitle="修改密码" (nzOnClose)="passwordShow = false">
    <section class="drawer-box">
      <ul class="fw changePass-box">
        <li class="changePass" [ngClass]="{'active': passwordTab === 0}" (click)="passwordTab = 0">修改登录密码</li>
        <li class="changePass" [ngClass]="{'active':  passwordTab === 1}" (click)="passwordTab = 1">修改资金密码</li>
      </ul>
      <section class="tpl-lists" *ngIf="passwordTab === 0">
        <section class="tpl-list flexa">
          <span class="tpl-title">新登录密码:</span><input nz-input type="password"
            [(ngModel)]="loginPasswords.data['password']" placeholder="请输入" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">确认新登录密码:</span><input nz-input type="password"
            [(ngModel)]="loginPasswords.data['password_confirm']" placeholder="请输入" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">管理员资金密码:</span>
          <input nz-input type="password" [(ngModel)]="loginPasswords.data['admin_fund_password']" placeholder="请输入"
            class="tpl-input" />
        </section>
        <button nz-button nzType="primary" style="margin-left:170px;" (click)="submitChangePassword(1)"
          [nzLoading]="loginPasswords.submitLoading" class="submit">
          提交
        </button>
      </section>
      <section class="tpl-lists" *ngIf="passwordTab === 1">
        <section class="tpl-list flexa">
          <span class="tpl-title">新资金密码:</span><input nz-input type="password"
            [(ngModel)]="fundPasswords.data['password']" placeholder="请输入" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">确认新资金密码:</span><input nz-input type="password"
            [(ngModel)]="fundPasswords.data['password_confirm']" placeholder="请输入" class="tpl-input" />
        </section>
        <section class="tpl-list flexa">
          <span class="tpl-title">管理员资金密码:</span>
          <input nz-input type="password" [(ngModel)]="fundPasswords.data['admin_fund_password']" placeholder="请输入"
            class="tpl-input" />
        </section>
        <button nz-button nzType="primary" (click)="submitChangePassword(2)" [nzLoading]="fundPasswords.submitLoading"
          class="submit">
          提交
        </button>
      </section>
    </section>
  </nz-drawer>

  <nz-drawer [nzClosable]="edit.show" [nzVisible]="edit.show" [nzMaskClosable]='false' nzWidth='auto'
    nzPlacement="right" nzTitle="添加管理" (nzOnClose)="edit.show = false">
    <section class="drawer-box">
      <section class="tpl-list flexa">
        <span class="tpl-title">管理组:</span>
        <nz-select class="tpl-input" nzPlaceHolder="请选择管理组" [(ngModel)]="edit.data.group_id">
          <nz-option *ngFor="let item of groupOptions" [nzValue]="item.value" [nzLabel]="item.label">
          </nz-option>
        </nz-select>
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">用户名:</span>
        <input nz-input [(ngModel)]="edit.data.username" placeholder="请输入" class="tpl-input" />
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">邮箱:</span>
        <input nz-input [(ngModel)]="edit.data.email" placeholder="请输入" class="tpl-input" />
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">登录密码:</span><input nz-input type="password" [(ngModel)]="edit.data.password"
          placeholder="请输入" class="tpl-input" />
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">资金密码:</span><input nz-input type="password" [(ngModel)]="edit.data.fund_password"
          placeholder="请输入" class="tpl-input" />
      </section>
      <button nz-button nzType="primary" (click)="submitEdit()" [nzLoading]="edit.submitLoading" class="submit">
        提交
      </button>
    </section>
  </nz-drawer>
</nz-content>

<nz-modal [nzVisible]="deletePop.show" nzTitle="删除管理员" (nzOnCancel)="deletePop.show = false" (nzOnOk)="subDeleteUser()">
  <!-- [nzOkLoading]="api.loadingSwitch" -->
  <section class="tpl-list flexa">
    <span class="tpl-title">资金密码:</span>
    <input nz-input placeholder="验证资金密码" type="password" class="tpl-input tpl-input-reason"
      [(ngModel)]="deletePop.admin_fund_password" />
  </section>
</nz-modal>