<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <section class="main-content">
      <section class="select-lottery serach-tpl">
        <section class="tpl-list flexa">
          <span class="tpl-title">操作描述:</span>
          <input nz-input placeholder="操作描述" nzSize="small" [(ngModel)]="searchData['desc']" class="tpl-input" />&nbsp;&nbsp;
        </section>
        <section class="tpl-list flexa">
          <button nz-button nzType="primary" nzSize="small" class="select-search" (click)="search()"><i nz-icon type="search"></i>搜索</button>&nbsp;&nbsp;
          <button nz-button nzType="primary" nzSize="small" class="select-reset" (click)="resetSearch()"><i nz-icon type="sync"></i>重置</button>
        </section>
      </section>
      <button nz-button nzSize="small" nzType="primary" (click)="add()" style="margin-bottom: 10px;">添加帮助分类</button>
      <nz-table nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
        <thead class="ant-table-thead">
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>添加用户ID</th>
            <th>更新用户ID</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th nzWidth="10%">操作</th>
          </tr>
        </thead>
        <tbody class="ant-table-tbody">
          <tr *ngFor="let item of tableList">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.add_partner_admin_id}}</td>
            <td>{{item.update_partner_admin_id}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.updated_at}}</td>
            <td>
              <button nz-button nzSize="small" nzType="primary" (click)="delete(item.id)" >删除</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="1" [nzPageSize]='api.pageSize' [nzTotal]="page.total" [(nzPageIndex)]="page.index" (nzPageIndexChange)="doPageChange()" nzShowQuickJumper class="nz-pagination">
      </nz-pagination>
    </section>
  </section>
</nz-content>

<!-- <nz-modal 
nzTitle = "添加"
nzWidth="50rem"
[nzVisible] = "addPop.show"
(nzOnCancel) = "addPop.show = false"
(nzOnOk) = "addSub()"
[nzOkLoading] = "api.loadingSwitch">
  <section class="tpl-lists">
    <section class="tpl-list flexa">
      <span class="tpl-title">标题:</span> 
      <input required nz-input [(ngModel)]="addPop.data.name" placeholder="" class="tpl-input" />
    </section>
    <section class="tpl-list flexa">
      <span class="tpl-title">内容:</span>
      <ueditor style="width:500px;" #full [(ngModel)]="addPop.data.content" [config]="{ wordCount: true }" [loadingTip]="'加载中……'" (onReady)="_ready($event)" (onDestroy)="_destroy()"
      (ngModelChange)="_change($event)"></ueditor>
    </section>
  </section>
</nz-modal> -->

<nz-drawer
[nzVisible]="addPop.show"
nzWidth = 'auto'
nzPlacement="right"
nzTitle="添加"
(nzOnClose)="addPop.show = false"
>
  <section class="tpl-lists">
    <section class="tpl-list flexa">
      <span class="tpl-title">标题:</span> 
      <input required nz-input [(ngModel)]="addPop.data.name" placeholder="" class="tpl-input" />
    </section>
    <!-- <section class="tpl-list flexa">
      <span class="tpl-title">内容:</span>
      <ueditor style="width:500px;" #full [(ngModel)]="addPop.data.content" [config]="{ wordCount: true }" [loadingTip]="'加载中……'" (onReady)="_ready($event)" (onDestroy)="_destroy()"
      (ngModelChange)="_change($event)"></ueditor>
    </section> -->
    <button nz-button nzType="primary" (click)="addSub()"  class="submit">确定</button>
  </section>
</nz-drawer>


