@import '../../style.css';

.share{
  padding:10px 0;
}
.qr-code{
  margin:0 auto;
  width:130px;
  height:130px;
}


.tpl-title{
  width: 75px;
}

.tpl-list{
  width: 290px;
}
.tpl-list-time{
  width: 600px;
}

.tpl-input{
  width: 200px;
}
