<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <section class="main-content">
      <nz-table nzShowQuickJumper [nzShowPagination]="false" #tableData [nzData]="tableList">
        <thead class="ant-table-thead">
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>标识</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="ant-table-tbody">
          <tr *ngFor="let item of tableList; let i = index;" (click)="lockTd($event)">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.sign}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.updated_at}}</td>
            <td>
              <i *ngIf="item.status" class="fa fa-check" style="color: green;"></i>
            </td>
            <td>
              <button nz-button nzType="primary" (click)="set(item)" nzSize="small">设置</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="1" [nzPageSize]="'10'" [nzTotal]="page.total" [(nzPageIndex)]="page.index"
        (nzPageIndexChange)="pageChange()" nzShowQuickJumper class="nz-pagination"></nz-pagination>
    </section>
  </section>
</nz-content>

<!-- 编辑模板 -->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="editPop.show" nzTitle="编辑模板"
  (nzOnClose)="editPop.show = false">
  <section class="tpl-lists">
  </section>
</nz-drawer>

<nz-modal [(nzVisible)]="contentPop.show" [nzCancelText]="null" [nzOkText]="null" nzTitle="内容提示"
  (nzOnCancel)="contentPop.show = false">
  <section class="fw content" [innerHtml]="contentPop.data"></section>
</nz-modal>