<nz-content style="margin:0 16px;">
    <section style="padding:12px; background: #fff; min-height: 360px;">
      <section class="main-content">
        <nz-table nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
          <thead class="ant-table-thead">
          <tr>
            <th nzWidth="6%">ID</th>
            <th nzWidth="6%">域名类型</th>
            <th nzWidth="20%">域名</th>
            <th nzWidth="20%">备注</th>
            <th nzWidth="10%">添加时间</th>
            <th nzWidth="10%">更新时间</th>
            <th nzWidth="10%">添加人</th>
            <th nzWidth="8%">状态</th>
          </tr>
          </thead>
          <tbody class="ant-table-tbody">
          <tr *ngFor="let item of tableList; let i = index">
            <td>{{item.id}}</td>
            <td>{{item.type}}</td>
            <td>{{item.domain}}</td>
            <td>{{item.remark}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.updated_at}}</td>
            <td>{{item.add_partner_admin_id}}</td>
            <td>{{item.status ? '启动' : '禁用'}}</td>
          </tr>
          </tbody>
        </nz-table>
        <nz-pagination [nzPageIndex]="1" [nzPageSize]='api.pageSize' [nzTotal]="page.total" [(nzPageIndex)]="page.index" (nzPageIndexChange)="doPageChange()" nzShowQuickJumper class="nz-pagination">
        </nz-pagination>
      </section>
    </section>
  </nz-content>
