<nz-content style="margin:0 16px;">
  <section style="padding:12px; background: #fff; min-height: 360px;">
    <section class="select-lottery serach-tpl">
      <section class="tpl-list flexa">
        <span class="tpl-title">管理员:</span>
        <input nz-input nzSize="small" placeholder="管理员" [(ngModel)]="searchData.partner_admin_user" class="tpl-input"/>&nbsp;&nbsp;
      </section>
      <section class="tpl-list flexa">
        <span class="tpl-title">路由:</span>
        <input nz-input nzSize="small" placeholder="路由" [(ngModel)]="searchData.route" class="tpl-input" />&nbsp;&nbsp;
      </section>
      <section class="tpl-list flexa tpl-list-time" style="width: 500px;">
        <span class="tpl-title">时间:</span>
        <nz-range-picker nzSize="small" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" (click)="timeHandle()" nzShowTime></nz-range-picker>&nbsp;&nbsp;
      </section>
      <section class="tpl-list flexa">
        <button nz-button nzType="primary" nzSize="small" (click)="search()">搜索</button>
        <button nz-button nzType="primary" nzSize="small" (click)="refresh()">刷新</button>
      </section>
    </section>
    <section class="main-content">
      <nz-table nzShowQuickJumper [nzShowPagination]="false" [nzData]="tableList">
        <thead class="ant-table-thead">
          <tr>
            <th>ID</th>
            <th>管理员</th>
            <th>IP</th>
            <th>路由</th>
            <th>设备</th>
            <th>平台</th>
            <th>浏览器</th>
            <th>访问时间</th>
          </tr>
        </thead>
        <tbody class="ant-table-tbody">
          <tr *ngFor="let item of tableList" (click)="lockTd($event)">
            <td>{{item.id}}</td>
            <td>{{item.partner_admin_username}}</td>
            <td>{{item.ip}}</td>
            <td>{{item.route}}</td>
            <td>{{item.device}}</td>
            <td>{{item.platform}}</td>
            <td>{{item.browser}}</td>
            <td>{{item.created_at}}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [nzPageIndex]="1" nzPageSize='15' [nzTotal]="page.total" [(nzPageIndex)]="page.index" (nzPageIndexChange)="doPageChange()" nzShowQuickJumper class="nz-pagination">
      </nz-pagination>
    </section>
  </section>
</nz-content>

<nz-modal [(nzVisible)]="contentPop.show" [nzCancelText]="null" [nzOkText]="null" nzTitle="内容提示"
  (nzOnCancel)="contentPop.show = false">
  <section class="fw content">
    {{contentPop.data}}
  </section>
</nz-modal>
